################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore build directories
obj/
bin/

# Ignore executable files
*.exe
*.dll

# Ignore VS temporary files
.vs/
